node-red/flows.json
[{"id":"e8425bf1.33ae28","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"d4a25690.f58278","type":"ui_tab","name":"Home","icon":"dashboard","disabled":false,"hidden":false},{"id":"25be810c.0def0e","type":"ui_group","name":"Default","tab":"d4a25690.f58278","order":1,"disp":true,"width":"6","collapse":false},{"id":"a6efbcb0.3f37a","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"f687e571.fddb08","type":"mqtt-broker","name":"","broker":"http://192.168.1.111","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"e94b4e38.86b75","type":"server","name":"Home Assistant","legacy":false,"addon":true,"rejectUnauthorizedCerts":true,"ha_boolean":"y|yes|true|on|home|open","connectionDelay":true,"cacheJson":true},{"id":"bcb09db2.e2dbe","type":"mqtt-broker","name":"","broker":"192.168.1.158","port":"1883","clientid":"test-client","usetls":false,"compatmode":true,"keepalive":"120","cleansession":true,"birthTopic":"sensors/connected/test-client","birthQos":"0","birthRetain":"true","birthPayload":"1","closeTopic":"","closePayload":"","willTopic":"sensors/connected/test-client","willQos":"0","willRetain":"true","willPayload":"0"},{"id":"c4656ecc.45506","type":"ui_group","name":"Control","tab":"d75883da.a335a","order":1,"disp":true,"width":"4","collapse":false},{"id":"fe00b70d.acef98","type":"ui_group","name":"Status","tab":"d75883da.a335a","order":1,"disp":true,"width":"6","collapse":false},{"id":"d75883da.a335a","type":"ui_tab","name":"Logger","icon":"dashboard"},{"id":"6a2614e1.a923ec","type":"mqtt-broker","name":"","broker":"AccessRunMosquittoTest","port":"8883","tls":"","clientid":"node_red_logger","usetls":true,"compatmode":true,"keepalive":"120","cleansession":true,"birthTopic":"logger","birthQos":"1","birthRetain":"true","birthPayload":"connected","closeTopic":"logger","closeQos":"1","closeRetain":"true","closePayload":"disconnected","willTopic":"logger","willQos":"1","willRetain":"true","willPayload":"disconected"},{"id":"cb8e26b1.e5c788","type":"ui_group","name":"Control","tab":"c5ec777c.266718","order":1,"disp":true,"width":"4","collapse":false},{"id":"b3944424.c4b8d8","type":"ui_group","name":"Status","tab":"c5ec777c.266718","order":1,"disp":true,"width":"6","collapse":false},{"id":"c5ec777c.266718","type":"ui_tab","name":"Logger","icon":"dashboard"},{"id":"766ec601.6e92f8","type":"ui_group","name":"Current Configuration","tab":"c5ec777c.266718","order":3,"disp":true,"width":"6","collapse":false},{"id":"23b37928.750596","type":"ui_group","name":"Data Export","tab":"42bee7d8.fe01e8","order":1,"disp":true,"width":"12"},{"id":"42bee7d8.fe01e8","type":"ui_tab","name":"Dashboard","icon":"dashboard","order":1},{"id":"5ff01aa4.224074","type":"ui_group","name":"Drive List","tab":"611bf602.42f2e8","order":3,"disp":true,"width":"12","collapse":true},{"id":"3e39db3a.30b694","type":"ui_group","name":"File List","tab":"611bf602.42f2e8","order":4,"disp":true,"width":"6","collapse":true},{"id":"611bf602.42f2e8","type":"ui_tab","name":"Files","icon":"dashboard","disabled":false,"hidden":false},{"id":"d960e773.485bf8","type":"ui_group","name":"Refresh","tab":"611bf602.42f2e8","order":3,"disp":true,"width":"6","collapse":true},{"id":"9b5c18c.60196e8","type":"api-call-service","z":"e8425bf1.33ae28","name":"Aggiunta oggetto alla lista della spesa - ALEXA","server":"e94b4e38.86b75","version":1,"debugenabled":true,"service_domain":"shopping_list","service":"add_item","entityId":"","data":"{\"name\":msg.payload}","dataType":"jsonata","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":420,"y":80,"wires":[[]]},{"id":"8d3c0675.23a4e8","type":"api-call-service","z":"e8425bf1.33ae28","name":"Completato oggetto lista della spesa - ALEXA","server":"e94b4e38.86b75","version":1,"debugenabled":true,"service_domain":"shopping_list","service":"complete_item","entityId":"","data":"{\"name\":msg.payload}","dataType":"jsonata","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":410,"y":200,"wires":[[]]},{"id":"7aae4493.0cc00c","type":"debug","z":"e8425bf1.33ae28","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":270,"y":140,"wires":[]},{"id":"be703fd1.e0c97","type":"mqtt in","z":"e8425bf1.33ae28","name":"","topic":"tele/esp32/CameraAlessio/LWT","qos":"2","datatype":"auto","broker":"f687e571.fddb08","x":350,"y":520,"wires":[["1b89ca42.117396"]]},{"id":"1b89ca42.117396","type":"switch","z":"e8425bf1.33ae28","name":"Online?","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"Offline","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":620,"y":520,"wires":[["d2f226ee.4410d8"]]},{"id":"d2f226ee.4410d8","type":"change","z":"e8425bf1.33ae28","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"Non Disponibile","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":800,"y":520,"wires":[["c74943e1.f9673"]]},{"id":"9253b3d8.52cc1","type":"inject","z":"e8425bf1.33ae28","name":"Value on startup","props":[{"p":"payload"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"Non Disponibile","payloadType":"str","x":360,"y":380,"wires":[["c74943e1.f9673"]]},{"id":"c74943e1.f9673","type":"ha-entity","z":"e8425bf1.33ae28","name":"Temperatura Camera Alessio","server":"e94b4e38.86b75","version":1,"debugenabled":false,"outputs":1,"entityType":"sensor","config":[{"property":"name","value":"Temperatura Camera Alessio"},{"property":"device_class","value":"temperature"},{"property":"icon","value":""},{"property":"unit_of_measurement","value":"°C"}],"state":"payload","stateType":"msg","attributes":[{"property":"","value":"","valueType":"str"}],"resend":true,"outputLocation":"","outputLocationType":"none","inputOverride":"allow","x":940,"y":440,"wires":[[]]},{"id":"ef4af7d2.160368","type":"mqtt in","z":"e8425bf1.33ae28","name":"","topic":"tele/esp32/CameraAlessio/SENSOR","qos":"2","datatype":"auto","broker":"f687e571.fddb08","x":330,"y":460,"wires":[["c74943e1.f9673","3548661c.7d753a"]]},{"id":"3548661c.7d753a","type":"debug","z":"e8425bf1.33ae28","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":620,"y":340,"wires":[]},{"id":"35d6fa1d.7fd996","type":"ha-webhook","z":"e8425bf1.33ae28","name":"","server":"e94b4e38.86b75","outputs":1,"webhookId":"OggettoCompletatoListaSpesa","payloadLocation":"payload","payloadLocationType":"msg","headersLocation":"","headersLocationType":"none","x":120,"y":200,"wires":[["7aae4493.0cc00c","8d3c0675.23a4e8"]]},{"id":"e6ea1aec.f20ba8","type":"ha-webhook","z":"e8425bf1.33ae28","name":"","server":"e94b4e38.86b75","outputs":1,"webhookId":"OggettoAggiuntoListaSpesa","payloadLocation":"payload","payloadLocationType":"msg","headersLocation":"","headersLocationType":"none","x":100,"y":80,"wires":[["9b5c18c.60196e8","7aae4493.0cc00c"]]}]
